{% templatetag openblock %}  extends "theme_bootstrap/base.html" {% templatetag closeblock %} 
{% templatetag openblock %}  block navbar_class {% templatetag closeblock %} navbar-inverse navbar-fixed-top{% templatetag openblock %}  endblock {% templatetag closeblock %} 
{% templatetag openblock %}  block head_title {% templatetag closeblock %} Hello world{% templatetag openblock %}  endblock {% templatetag closeblock %} 
{% templatetag openblock %}  block nav {% templatetag closeblock %} 
<ul class="nav">
    <li id="tab_first">
        <a href="#">First Link</a>
    </li>
    <li id="tab_second">
        <a href="#">Second Link</a>
    </li>
    <li id="tab_third" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Some Dropdown Menu
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Some Link</a></li>
            <li><a href="#">Another Link</a></li>
        </ul>
    </li>
</ul>
{% templatetag openblock %}  endblock {% templatetag closeblock %} 
{% templatetag openblock %}  block body {% templatetag closeblock %} body{% templatetag openblock %}  endblock {% templatetag closeblock %} 
